/******************************************************
 * IMPORTANT!!!!!
 *
 * Styles in this file will only be applied to this
 * app itself, NOT to the shared Techlahoma styles.
 *
 * You should look in app-shared/styles for the shared
 * style sheets.
 * ***************************************************/

body{
  margin:0px;
  padding:0px;
}

.app-container{
  max-width:600px;
  padding:0 15px;
  margin:0 auto;
  &.main{
    padding-bottom:70px;
  }
}

.app-disclaimer{
  background:#ffdede;
  padding:10px 20px;
  border-radius:6px;
  margin:20px auto;
}



