
/******************************************************
 * IMPORTANT!!!!!
 *
 * Styles in this file will be applied to ALL sites
 * that import the shared style sheet, NOT just this
 * app.
 *
 * You should look in app/styles for the style sheets
 * for just this app.
 * ***************************************************/

.techlahoma{

  font-family:sans-serif;
  line-height:2em;



  code{
    background:#dedede;
    padding:5px;
    border-radius:6px;
  }

  pre code{
    display:block;
    line-height:1.5em;
  }



  header.techlahoma-header-bar{
    background:black;
    padding:10px;
    color:white;
    .container{
      margin:0 auto;
    }
    a{
      color:#dedede;
      &:hover{
        color:white;
      }
    }
  }

  .techlahoma-title{
    vertical-align:middle;
    font-size:18px;
    display:inline-block;
    text-decoration:none;
  }

  .techlahoma-logo{
    background:transparent url('/techlahoma_logo.png') 0 0 no-repeat;
    width:145px;
    height:40px;
    display:inline-block;
    vertical-align:middle;

    text-indent: 100%; /* get out of the window */
    white-space: nowrap; /* don't come back in */
    overflow: hidden; /* no really, don't come back in */
    /* See more at: http://www.appnovation.com/blog/modern-approach-css-image-replacement */
  }

}
