<header class='techlahoma-header-bar'>
  <div class='app-container'>
    {{#link-to 'index' class='techlahoma-title'}}<span class='techlahoma-logo'>Techlahoma</span> Shared Assets{{/link-to}}
  </div>
</header>

<div class='app-container'>

{{outlet}}

</div>
