<div class='app-disclaimer'>

  <h3>This is a work in progress and is meant to start discussion</h3>
  <p>
    Most of the functionality described here does not work yet, I'm just
    using this as a place to pracite "Documentation Driven Development".
    I'm writng documentation first to be able to hone the experience that
    users/developers will have. Once the ussage pattern has been nailed
    down we can work backwards on writing the code.
  </p>
  <p>
    Please feel free to chime in on the repo here. (TBD)
  </p>

</div>

<p>
  This project is the development repo, distribution point and documentation for
  assets that need to be shared among Techlahoma sites.
</p>


<p>
  There are two types of sites that may want to use these assets.
</p>

<h3>Official Techlahoma Sites</h3>

<p>
  Sites operated by Techlahoma iteself under the umbrella of the
  organization should see the docs for offical sites. (TBD)
</p>

<h3>Affiliated Organization Sites</h3>

<p>
  Organizations that are affiliated with Techlahoma may wish to use
  assets such as the Techlahoma Tab without importing all fo the assets
  that are intended for official sites.
</p>

<p>
  See the affiliate organization docs hers. (TBD)
</p>


<h2>Assets Offered</h2>

<ul>
  <li>Official Techlahoma Site Styles</li>
  <li>Official Techlahoma Site Header Bar</li>
  <li>Techlahoma Tab</li>
</ul>

<h2>Style Guide</h2>

<p>
  See the style guide. (TBD)
</p>
