<div class='app-disclaimer'>

  <h3>This is a work in progress and is meant to start discussion</h3>
  <p>
    Most of the functionality described here does not work yet, I'm just
    using this as a place to pracite "Documentation Driven Development".
    I'm writng documentation first to be able to hone the experience that
    users/developers will have. Once the ussage pattern has been nailed
    down we can work backwards on writing the code.
  </p>
  <p>
    <a href="https://github.com/techlahoma/techlahoma_shared">Please feel free to chime in on the repo.</a>
  </p>

</div>

<p>
  This project is the development repo, distribution point and documentation for
  assets that need to be shared among Techlahoma sites.
</p>


<p>
  There are two types of sites that may want to use these assets.
</p>

<ul>
  <li>
    <strong>Official Techlahoma Sites</strong> - Sites operated by Techlahoma iteself under the umbrella of the
    organization.
  </li>
  <li>
    <strong>Affiliated Organization Sites</strong> - Organizations that are affiliated with Techlahoma may wish to use
    assets such as the Techlahoma Tab without importing all fo the assets
    that are intended for official sites.
  </li>
</ul>



<h2>Assets Available</h2>

<ul>
  <li>{{#link-to 'style-guide'}}Official Techlahoma Site Styles{{/link-to}}</li>
  <li>Official Techlahoma Site Header Bar (TBD)</li>
  <li>{{#link-to 'techlahoma-tab'}}Techlahoma Tab{{/link-to}}</li>
</ul>

