<h2>Style Guide</h2>

<h3>Including the styles</h3>

<p>
  You can include the styles directly from this site by including
  this tag on your page.
</p>

<pre><code>
  &lt;link rel="stylesheet"
    href="http://shared.techlahoma.org/shared/techlahoma.css"&gt;

</code></pre>

<h3>Opting in to the styles</h3>

<p>
  In an effort to not completely clobber existing styles on a page
  all of our styles are namespaced within a <code>techlahoma</code>
  outter class. This means that only elements inside of a parent with
  a class of <code>techlahoma</code> will be styled.
</p>

<p>
  For official sites the easiest way to opt in is to add the
  <code>techlahoma</code> class to the body of the page.
</p>

<pre><code>
  ...
  &lt;body class='techlahoma'&gt;
    ...
  &lt;/body&gt;
  ...

</code></pre>


<h3>Displaying a Techlahoma Logo</h3>

<p>
  To display a Techlahoma logo, in black, including JSON the BSON
  you can use the following markup.
</p>

<pre><code>
&lt;span class='techlahoma-logo'&gt;Techlahoma&lt;/span&gt;

</code></pre>

<p>
  When rendered it will look like this:
</p>

<p>
  <span class='techlahoma-logo'>Techlahoma</span>
</p>

<p>
  TODO : Ew. Document how to add padding to that.
</p>


<h3>Style Examples</h3>

<p>
This is normal paragraph text. How about we make this paragraph
pretty long so that it has to wrap onto a few lines so you can
see how the line spacing looks.
</p>

<p>
And here's a paragraph to follow the previous one.
</p>

<h1>This is an H1</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis tortor, aliquet nec ipsum faucibus, finibus pellentesque libero. Nulla id nisi sit amet magna mattis tempor. Ut convallis feugiat sodales. Donec id odio metus. Morbi nec massa nisl. Pellentesque eget mi quis lacus efficitur cursus. Ut elementum ipsum et consequat feugiat. Nullam tristique imperdiet dapibus. Ut condimentum euismod consectetur. Vestibulum euismod enim at lectus facilisis efficitur. Suspendisse mi mi, sodales ac ipsum a, gravida molestie augue.
</p>
<h2>This is an H2</h2>

<p>
  Fusce convallis orci vel risus eleifend, vel finibus libero lobortis. Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus. Aliquam et tortor at erat facilisis faucibus sed nec quam. Morbi nibh nulla, tristique sed faucibus vitae, bibendum in dui. Ut sagittis nunc risus, sed gravida nunc ultrices quis. In hac habitasse platea dictumst. Cras tristique mollis egestas. Mauris odio dui, volutpat a eleifend ut, lacinia in lacus. Nullam efficitur mauris massa, nec gravida leo tristique ac. Maecenas blandit tempus elementum.
</p>

<h3>This is an H3</h3>

<p>
  Fusce convallis orci vel risus eleifend, vel finibus libero lobortis. Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus. Aliquam et tortor at erat facilisis faucibus sed nec quam. Morbi nibh nulla, tristique sed faucibus vitae, bibendum in dui. Ut sagittis nunc risus, sed gravida nunc ultrices quis. In hac habitasse platea dictumst. Cras tristique mollis egestas. Mauris odio dui, volutpat a eleifend ut, lacinia in lacus. Nullam efficitur mauris massa, nec gravida leo tristique ac. Maecenas blandit tempus elementum.
</p>

<h4>This is an H4</h4>

<p>
  Fusce convallis orci vel risus eleifend, vel finibus libero lobortis. Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus. Aliquam et tortor at erat facilisis faucibus sed nec quam. Morbi nibh nulla, tristique sed faucibus vitae, bibendum in dui. Ut sagittis nunc risus, sed gravida nunc ultrices quis. In hac habitasse platea dictumst. Cras tristique mollis egestas. Mauris odio dui, volutpat a eleifend ut, lacinia in lacus. Nullam efficitur mauris massa, nec gravida leo tristique ac. Maecenas blandit tempus elementum.
</p>

<h2>Below is a UL</h2>

<ul>
  <li>Fusce convallis orci vel risus eleifend, vel finibus libero lobortis.</li>
  <li>Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus.</li>
  <li>Fusce convallis orci vel risus eleifend, vel finibus libero lobortis. Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus. Aliquam et tortor at erat facilisis faucibus sed nec quam.</li>
</ul>

<h2>And now an OL</h2>

<ol>
  <li>Fusce convallis orci vel risus eleifend, vel finibus libero lobortis.</li>
  <li>Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus.</li>
  <li>Fusce convallis orci vel risus eleifend, vel finibus libero lobortis. Curabitur blandit mi massa, a congue turpis pretium ac. Cras sed condimentum tellus. Aliquam et tortor at erat facilisis faucibus sed nec quam.</li>
</ol>


{{outlet}}
